<div >
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container"><a class="navbar-brand" href="#">Pet Clinic</a>
      
        <nav class="my-2 my-md-0 mr-md-3 navbar">
            <a class="nav-item nav-link active" routerLink="/pets">Pets <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/owners">Owners</a>
            <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->
         
          </nav></div>
    </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>